body {
/*    background-color: #ddedff; */
    background-color: #eaeaea;
    margin: 0;
}

#main-div {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#break {
    flex-basis: 100%;
    height: 0;
}

#help-div {
    display: flex;
    justify-content: center;
}

#main-canvas {
    border: 2px solid black;
    border-bottom: none;
}

#statusbar-canvas {
    border: 2px solid black;
    border-top: none;
}

div {
    margin: 0;
    padding: 0;
}

#statusbar-canvas-div {
    margin-top: -4px;
}

canvas {
    visibility: hidden; /* Updated by the game on load */
    margin: 0;
    padding: 0;
}
